# Generic 3D Printer

[printer]
bed_mesh = false
print_volume = [220, 220, 240]

[printer.extruder]
min_temp = 0
max_temp = 250
min_extrude_temp = 180

[printer.heater_bed]
min_temp = 0
max_temp = 100

[macros.start_print]
rename_existing = "start_base"
gcode = """
${
printer.printJob?.isReadyToPrint ? `
    M118 E1 Printing ${printer.printJob.filename} ; display in console
    M117 Printing ${printer.printJob.filename} ; display on lcd
    M75 ${printer.printJob.filename} ; start print job timer
    start_base ; start print
` : "M118 E1 !! Cannot start print"
}
"""

[macros.pause]
rename_existing = "pause_base"
gcode = """
${
printer.printJob?.isPrinting ? `
    pause_base ; pause print
    M76 ; pause print job timer
    M118 E1 Paused print ; display in console
    M117 Print paused ; display on lcd
    G91
    G1 Z5 E-20 F600 ; move nozzle up 5 mm and retract 20 mm
    G90
    G1 X0 Y0 F6000 ; move to 0,0
` : "M118 E1 !! Not printing"
}
"""

[macros.resume]
rename_existing = "resume_base"
gcode = """
${
printer.pauseState ? `
    M118 E1 Resuming ${printer.printJob.filename} ; display in console
    M117 Printing ${printer.printJob.filename} ; display on lcd
    M75 ; resume print job timer
    G90 ; set absolute positioning
    G1 X${printer.pauseState.x} Y${printer.pauseState.y} F6000 ; move to last print position
    G91
    G1 Z-5 E20 F600 ; move nozzle down 5 mm and extrude 20 mm
    ${printer.pauseState.isAbsolute ? "G90" : "G91"} ; reset positioning mode
    ${printer.pauseState.isAbsoluteE ? "M82" : "M83"} ; reset extruder positioning mode
    G0 F${printer.pauseState.feedrate} ; reset feedrate
    resume_base ; resume printing
` : "M118 E1 !! Print is not paused"
}
"""

[macros.cancel_print]
rename_existing = "cancel_base"
gcode = """
${
printer.printJob?.isPrinting ? `
    cancel_base ; cancel print
    M77 ; stop print job timer
    M118 E1 Print aborted ; display in console
    M117 Print aborted ; display on lcd
    G28 XY ; home x and y
    M18 ; turn off steppers
    M104 S0 ; turn off hotend
    M140 S0 ; turn off heated bed
    M107 ; turn off print fan
` : "M118 E1 !! Not printing"
}
"""

[macros.sdcard_reset_file]
rename_existing = "reset_base"
gcode = """
    reset_base ; reset selected print
    M117 ; clear lcd screen
"""